.banner-home {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 150px;
    background-image: url("../images/photos/perigord-nature.png");
    background-size: cover;
    background-position: center;
}

fieldset{
    background-color:var(--secondary-color);
}

legend{
    font-weight: bold;
}

.champ{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 150px;
    text-align: center;
}



.avis-container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 200px;
    height: 150px;
    border-radius: 30px;

}

.rating img {
    width: 30px;
    height: 30px;
    margin: auto;
}
